.navbar h1{
    margin:40px 10px;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar .itemsnavbar{
    margin-top: 40px;

}
.navbar .itemsnavbar button{
    padding:10px;
    margin:0px 20px 5px 0;
    background: transparent;
    border:none;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    text-transform: capitalize;
    
   
}
.navbar .itemsnavbar  .contact{
    border:1px solid black;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    cursor: pointer;
}